[submodule "tests/helper_libs/bats-support"]
	path = tests/helper_libs/bats-support
	url = https://github.com/bats-core/bats-support
[submodule "tests/helper_libs/bats-assert"]
	path = tests/helper_libs/bats-assert
	url = https://github.com/bats-core/bats-assert
